<a href="https://colab.research.google.com/github/Aditrao2002/functions_assignment03/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
#Q.1
def sum_of_even_numbers(numbers):
    return sum(number for number in numbers if number % 2 == 0)

# Example usage
nums = [1, 2, 3, 4, 5, 6]
print(sum_of_even_numbers(nums))  # Output: 12

12

In [23]:
#Q.2
def reverse_string(s):
    return s[::-1]

# Example usage
print(reverse_string("hello"))  # Output: "olleh"

olleh

In [24]:
#Q.3
def square_numbers(numbers):
    return [x ** 2 for x in numbers]

# Example usage
nums = [1, 2, 3, 4]
print(square_numbers(nums))  # Output: [1, 4, 9, 16]

[1, 4, 9, 16]

In [25]:
#Q4
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

# Example usage: Check all primes between 1 and 200
primes = [n for n in range(1, 201) if is_prime(n)]
print(primes)  # Output: List of prime numbers from 1 to 200

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [26]:
#Q.5
class FibonacciIterator:
    def __init__(self, max_terms):
        self.max_terms = max_terms
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.max_terms:
            raise StopIteration
        fib = self.a
        self.a, self.b = self.b, self.a + self.b
        self.count += 1
        return fib

# Example usage
fib_iter = FibonacciIterator(10)
for num in fib_iter:
    print(num, end=" ")  # Output: Fibonacci sequence

0 1 1 2 3 5 8 13 21 34

In [27]:
#Q.6
def powers_of_two(max_exp):
    for exp in range(max_exp + 1):
        yield 2 ** exp

# Example usage
for power in powers_of_two(5):
    print(power)  # Output: 1, 2, 4, 8, 16, 32

1
2
4
8
16
32

In [32]:
#Q7
def read_file_line_by_line(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()

# Example usage
 for line in read_file_line_by_line('example.txt'):
     print(line)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 7)

In [33]:
#Q.8
tuples_list = [(1, 'a'), (3, 'c'), (2, 'b')]
sorted_list = sorted(tuples_list, key=lambda x: x[1])

# Example usage
print(sorted_list)  # Output: [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]

In [34]:
#Q.9
def celsius_to_fahrenheit(celsius_list):
    return list(map(lambda c: (c * 9/5) + 32, celsius_list))

# Example usage
celsius = [0, 20, 30, 40]
fahrenheit = celsius_to_fahrenheit(celsius)
print(fahrenheit)  # Output: [32.0, 68.0, 86.0, 104.0]

[32.0, 68.0, 86.0, 104.0]

In [35]:
#Q.10
def remove_vowels(s):
    vowels = "aeiouAEIOU"
    return ''.join(filter(lambda char: char not in vowels, s))

# Example usage
sentence = "This is a test sentence."
no_vowels = remove_vowels(sentence)
print(no_vowels)  # Output: "Ths s  tst sntnc."
def remove_vowels(s):
    vowels = "aeiouAEIOU"
    return ''.join(filter(lambda char: char not in vowels, s))

# Example usage
sentence = "This is a test sentence."
no_vowels = remove_vowels(sentence)
print(no_vowels)  # Output: "Ths s  tst sntnc."

Ths s  tst sntnc.
Ths s  tst sntnc.

In [36]:
#Q.11
# Sample list representing the bookshop orders (order number, price per item, quantity)
orders = [
    [34587, 4.50, 10],
    [98762, 7.99, 5],
    [77226, 3.49, 12],
    [88112, 11.99, 2]
]

# Using map and lambda to return the required 2-tuple (order number, total cost)
result = list(map(lambda x: (x[0], x[1] * x[2] if x[1] * x[2] >= 100 else x[1] * x[2] + 10), orders))

print(result)
#Explanation:
#Each sublist consists of an order number, price per item, and quantity.
#The lambda function computes the total price by multiplying the price per item with the quantity (x[1] * x[2]).
#If the total price is less than 100, it adds an extra 10 to the value.
#map applies the lambda function to each sublist, returning a list of tuples.

[(34587, 55.0), (98762, 49.95), (77226, 51.88), (88112, 33.980000000000004)]